* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #2A7B9B 0%, #516AAD 50%, #7494EB 100%);
}

#config-container {
    width: 415px;
    background: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
}

#config-container h2 {
    font-size: 36px;
}

.config {
    margin-top: 25px;
}

.config h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

#quiz-categories {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

#questions-number {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
}

.config button {
    padding: 12px;
    font-size: 16px;
    font-weight: 500px;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #516AAD;
    transition: .5s ease;
}

.config button:hover {
    background: #516AAD;
}

.config button.active {
    color: #0f308a;
    border-color: #516AAD;
    background: #bac6e6;
}

#questions-number .option {
    flex: 1 1 10%;
}

#quiz-btn {
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    background: #516AAD;
    padding: 13px 25px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    transition: background .5s ease;
}

#quiz-btn:hover {
    background: #3e5183;
}